img {
    width: 100%;
    height: auto
}

h1 {
    font-size: 75px;
    font-weight: 700;
    text-align: center
}

p {
    text-align: center
}

h2 {
    color: #11749e;
    text-align: center;
    padding-bottom: 20px;
}

.option h2 {
    color: red
}

.option {
    padding-top: 30px;
    text-align: center
}

.option .fa {
    font-size: 80px;
}

#rr .container {
    background: bisque;
    border-radius: 60px;
}

#nn .container {
    background: bisque;
    border-radius: 60px;
}

#vv .container {
    background: bisque;
    border-radius: 60px;
}

#kk .container {
    background: bisque;
    border-radius: 60px;
}

#dd .container {
    background: bisque;
    border-radius: 60px;
}

.option p {
    font-size: 24px;
    font-weight: 450;
}

.content p {
    font-size: 24px;
    font-weight: 450;
}

.plus p {
    font-size: 24px;
    font-weight: 450;
}

.design p {
    font-size: 24px;
    font-weight: 450;
}

.vac p {
    font-size: 24px;
    font-weight: 450;
}

.head {
    background: url(../img/12.png);
    height: 870px;
}

.head .navbar {
    background-color: transparent !important;
    height: 110px;
    border-bottom: 1px solid #7a7a7a;
}

.head h3 {
    font-size: 152px;
    text-transform: uppercase;
    color: #f5f5f5;
    text-align: center;
    padding-top: 240px
}

.head p {
    text-transform: uppercase;
    font-size: 25px;
    color: #11749e;
    text-align: center;
}

.head .navbar .fa {
    color: white;
    padding: 0 10px;
}

.head .navbar-brand {
    height: 60px;
    width: 60px;
    text-align: center;
    background: #11749e;
    font-weight: 700;
    font-size: 28px;
}



.logo2 h5 {
    font-size: 247px;
    color: #5993b2;
    margin-top: -110px;
    padding-top: 36px;
}

.logo2 {
    text-align: center;
}

.logo2 p {
    font-size: 37px;
    color: white;
    margin-top: -170px;
}

.feature .logo3 {
    font-size: 43px !important;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    color: white;
    text-align: center;
    background: #2e85aa;
}

.feature {
    padding-top: 160px;
    text-align: center;
    color: white
}

.logo3 .fa {
    padding-top: 42px;
}

.logo3 {
    margin: auto;
}

.four {
    background: #222222;
    color: white
}

.four .rt {
    background: url(../img/8.png);
}

.bottom {
    background: #f3f3f3;
}

.lb {
    background: url(../img/9.png);
}

.lt p {
    font-size: 15px;
}

.rb p {
    font-size: 15px;
}

.lt,
.rb h4 {
    font-size: 25px;
}

.lt,
.rb {
    padding: 35px 0 46px 65px;
}

.blog h1 {
    font-size: 247px !important;
    color: #414141 !important;
}

.blog {
    text-align: center;
}

.blog h2 {
    font-size: 38px !important;
    margin-top: -163px !important;
}

.blog p {
    font-size: 30px;
    margin-top: 90px;
}

.fresh .card {
    text-align: center;
    border: none;
}

.fresh .card h5 {
    color: #11749e;
    font-size: 18px;
    font-weight: 700;
}

.fresh .card p {
    font-size: 15px;
    color: #222222
}

.fresh {
    padding-bottom: 100px;
}

.edit {
    background: #11749e;
    padding-top: 105px;
    color: #e2e2e2;
    padding-bottom: 120px;
    font-size: 20px;
    font-weight: 400;
}

.edit a {
    color: #222222;
    font-weight: 600;
}

.top1,
.top2 {
    padding: 0
}

.chb {
    background-image: url(../img/7.png);
    color: #f3f3f3
}

.chb img {
    padding: 95px 0;
}

.team {
    text-align: center;
}

.team h3 {
    text-transform: uppercase;
    font-size: 247px;
    color: #7a7a7a
}

.team h4 {
    font-size: 37px;
    text-transform: uppercase;
    color: #222222;
    margin-top: -155px;
    margin-bottom: 100px;
}

.team p {
    font-size: 30px;
}

.team .card-text {
    font-size: 15px;
}

.team .card-title {
    font-size: 20px;
    color: #11749e;
}

.team .card {
    padding: 60px 15px;
    border: none
}

.team .card-body {
    width: 203px;
    margin-top: -55px;
    background: white;
    margin-left: 28px;
}

.cart {
    background: url(../img/14.png) center center;
    height: 330px;
    width: 100%
}

.form1 h3 {
    opacity: .2;
    color: #e2e2e2
}

.form1 h4 {
    text-transform: uppercase;
    color: #f3f3f3;
    margin-top: -145px;
    padding-bottom: 100px;
}

.form1 {
    background: url(../img/13.png) center center;
    text-align: center;
    padding-bottom: 95px;
}

.form-control {
    background: transparent
}

.form-control:focus {
    opacity: .4
}

.btn {
    padding: 15px 70px 23px 70px;
    font-size: 25px;
    background: #11749e;
    color: #f3f3f3
}

.btn:hover {
    background: #222222;
    color: #11749e;
    box-shadow: 0 0 10px #11749e
}

.logo3:hover {
    background: #222222;
    color: #11749e;
    box-shadow: 0 0 10px #11749e
}

.foot {
    background: #222222;
}

.foot p {
    font-size: 13px;
    color: #f3f3f3;
    padding: 15px 0
}

.buy .fa {
    font-size: 65px;
    color: #11749e;
}

.buy h2 {
    padding-bottom: 30px;
}

.plus {
   padding-top: 15px;
    text-align: center
}

#top {
    font-size: 55px;
    color: #11749e;
   
    position: fixed;
    right: 30px;
    bottom: 2%;
    cursor: pointer;
    z-index: 10;
}

.plus img {
    padding-bottom: 19px;
}

.plus ul li {
    font-size: 20px;
}

.rt,
.lb {
    min-height: 320px;
}

@media(max-width:1100px) {
    .head h3 {
        font-size: 125px;
    }
}

@media(max-width:997px) {
    .head h3 {
        font-size: 100px;
    }
}

@media(max-width:770px) {
    .head h3 {
        font-size: 75px;
    }
    .head p {
        font-size: 20px;
    }
    h1 {
        font-size: 58px;
    }
}

@media(max-width:525px) {
    .head h3 {
        font-size: 57px;
    }
    .h1 {
        font-size: 44px;
    }
}

@media(max-width:493px) {
    .head h3 {
        font-size: 73px;
    }
    .head p {
        font-size: 18px;
    }
}

@media(max-width:410px) {
    h1 {
        font-size: 35px;
    }
    .head h3 {
        display: none
    }
    .head p {
        display: none
    }
}

@media(max-width:325px) {
    h1 {
        font-size: 24px;
    }
}
